In [30]:
from imp import reload
import groundfloor as gf
reload(gf)

In [31]:
funded = gf.GoundFloor('https://www.groundfloor.us/education/funded')
funded_df = funded.crawl()

Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
10 of 165 loan crawled
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
20 of 165 loan crawled
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date(N/A)
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
30 of 165 loan crawled
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
Error in parse_date( )
dates for https://www.groundfloor.us/investments/4107-belle-avenue-21215 unavailable
Error in parse_date( )
40 of 165 loan crawled
Error in parse_date(N/A)
50 of 165 loan crawled
60 of 165 loan crawled
70 of 165 loan crawled
80 of 165 loan crawled
90 of 165 loan crawled
100 of 165 loan crawled
Error in parse_date(N/A)
110 of 165 loan crawled
120 of 165 loan crawled
130 of 165 loan crawled
Error in parse_date(N/A)
Error in parse_date(N/A)
140 of 165 loan crawled
Error in parse_date(N/A)
Error in parse_date(N/A)
150 of 165 loan crawled
160 of 165 loan crawled
164 of 165 loan crawled, 1 failed

In [32]:
funded_df.columns

Index(['address', 'borrower', 'company', 'description', 'funded_on', 'grade',
       'investers', 'link', 'loan_amount', 'loan_position', 'loan_status',
       'loan_to_value', 'matures_on', 'parse_result', 'projected_term',
       'purpose', 'rate', 'repaid_on', 'start_on', 'title',
       'total_loan_amount'],
      dtype='object')

In [33]:
funded_df.repaid_on.value_counts()

9999-01-01 00:00:00    97
2016-10-24 00:00:00     3
2016-12-01 00:00:00     2
2016-03-03 00:00:00     2
2015-03-21 00:00:00     2
2016-09-27 00:00:00     2
2015-03-07 00:00:00     2
2016-08-23 00:00:00     1
2016-06-28 00:00:00     1
2015-11-19 00:00:00     1
2016-02-27 00:00:00     1
2015-11-20 00:00:00     1
2015-12-21 00:00:00     1
2016-07-05 00:00:00     1
2016-07-25 00:00:00     1
2016-04-20 00:00:00     1
2015-03-18 00:00:00     1
2016-07-01 00:00:00     1
2016-08-09 00:00:00     1
2016-01-08 00:00:00     1
2016-09-26 00:00:00     1
2016-01-20 00:00:00     1
2015-06-26 00:00:00     1
2015-08-22 00:00:00     1
2016-12-13 00:00:00     1
2017-06-30 00:00:00     1
2016-09-23 00:00:00     1
2016-08-25 00:00:00     1
2014-10-31 00:00:00     1
2016-07-26 00:00:00     1
                       ..
2016-10-18 00:00:00     1
2014-09-12 00:00:00     1
2015-06-12 00:00:00     1
2016-04-19 00:00:00     1
2014-10-04 00:00:00     1
2016-02-29 00:00:00     1
2016-04-05 00:00:00     1
2016-03-15 00:00:00     1
2015-06-10 00:00:00     1
2016-12-05 00:00:00     1
2016-11-15 00:00:00     1
2014-12-06 00:00:00     1
2016-04-14 00:00:00     1
2016-09-29 00:00:00     1
2016-01-30 00:00:00     1
2016-01-11 00:00:00     1
2015-09-27 00:00:00     1
2016-09-08 00:00:00     1
2016-09-30 00:00:00     1
2016-12-06 00:00:00     1
2016-08-02 00:00:00     1
2017-10-14 00:00:00     1
2014-09-26 00:00:00     1
2016-07-29 00:00:00     1
2014-08-29 00:00:00     1
2016-05-04 00:00:00     1
2016-03-14 00:00:00     1
2016-02-12 00:00:00     1
2016-05-23 00:00:00     1
2017-07-28 00:00:00     1
Name: repaid_on, dtype: int64

In [34]:
funded_df[funded_df.borrower == 'John Mangham - principal'][['borrower', 'company', 'loan_status']]

                     borrower       company loan_status
121  John Mangham - principal  Borrower 405      Repaid
125  John Mangham - principal  Borrower 383      Repaid
138  John Mangham - principal  John Mangham      Repaid
155  John Mangham - principal  John Mangham      Repaid
161  John Mangham - principal  John Mangham      Repaid
163  John Mangham - principal  John Mangham      Repaid